@import url("./layout.css");
@import url("./icons.css");
#header{
    height: 20vh;
}
#logo{
    height: 100%;
}
#nav{
    border:1px #000 solid;
    background: red;
}
#posts{
    border:1px #000 solid;
    background: yellow;

}
.post{
    border:1px #000 solid;
    height: 50vh;
    position: relative;
    overflow: hidden;

}
.post>*{
    position: absolute;
}
.post>img{
    z-index: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 800ms;
}
.post>.cover{
    z-index:1;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .6;
    overflow: hidden;
}
.post>div{
    z-index:2;
    flex-direction: column;
    height: 100%;
    padding:5% 0 ;
    overflow: hidden;
}
.post>div:hover .post>img{
    height: 300%;
}
.post>div>*{
    color:#fff;
}
.post>div>ul{
    list-style: none;
    justify-content: space-around;
    margin-top:auto;
}
.post>div>ul>li>a{
    text-decoration: none;
    color:#fff;

}
